<html>

    <head>
        <title>ugur's blog</title>
    </head>

    <body>
        <div>
            <h1><a href="/">ugur's blog here!</a></h1>
        </div>

        <div>
            <h2><a href="">The beginning</a></h2>
            <p>published: 18.03.2018, 17:14</p>
            <p>
                Today i am creating my first web page after years. It seems like
                i forgot html syntax already... Actually nothing can be that
                normal after those years... I wish i didn't quit designing web
                pages!
            </p>
        </div>
        <div>
            <h2><a href="">Çanakkale 18 Mart Liberation Day</a></h2>
            <p>published: 18.03.2018, 17:15</p>
            <p>
                This is the Liberation day of Çanakkale. Our brave elders
                fought for our lands against powerful alliances of West Europe.
                And the other Bosphorus of Anatolia the Çanakkale, land of Troy
                has been saved proudly!
            </p>
        </div>

    </body>

</html>
